*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    color: white;
    font-size: 30px;
}

body{
    background-color: black;
}

.container{
    padding: 10px;
    display: grid;
    /* grid-template-rows: 200px 200px; */
    grid-template-rows: 1rf 1rf;
    /* grid-template-columns: 200px 200px;*/
    grid-template-columns: 1fr 1fr;
     gap: 10px; 
    height: 400px;
    width: 400px;
    background-color:aqua ;

}

.first{
    background-color: orange;
}

.second{
    background-color: green;
}
.third{
    background-color: rebeccapurple;
}
.fourth{
    background-color: brown;
}